body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100hv;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #FFB3C6;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.hero{
    background-color:#FFE5EC ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height:100vh;
}
.text h1{
    font-family: cursive;
    font-size: 45px;
}
.text h3{
    font-family: cursive;
  color: rgb(117, 115, 115);}
.text p{
    color: rgb(117, 115, 115);
    font-family: cursive;
    font-size: 18px;
}
span{
    background-color: rgb(255, 179, 198,0.6);
    padding: 4px;
    
}

img{
    height: 380px;
    width: 250px;
}
.image{
    background-color: rgb(255, 143, 171,0.5);
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
button{
    border: none;
    background-color: #FB6F92;
    border-radius: 8px;
    padding: 10px;
    color:#ffffff;
    cursor: pointer;
}
.stats-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
}
.stats-container h3{
    font-family: cursive;
    color: gray;
}
.social-buttons{
    display: flex;
    gap: 12px;
    align-items: center;
}
.social-buttons img{
    width: 24px;
    height: 24px;
    color:#FB6F92
}
.social-handles h3{
color: gray;
font-family: cursive;
font-size: 16px;
}

.image-sec{
    display: flex;
    align-items: center;
}
.image-sec ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FF8FAB;

}
.list-items{
}

.divider{
    height: 20px;
    width: 1px;
    border: 2px solid #FB6F92;
}



