body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100hv;
    background-color:#FFE5EC ;
}
button{
    background-color:  #FB6F92;
    border: none;
    padding: 14px 24px 14px 24px;
    margin: 10px ;
    border-radius: 8px;
}
.button-div{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-family: cursive;
    color: #ffffff;
}
.container h1{
    font-family: cursive;
    font-size: 24px;
    text-align: center;
}
p{
    font-family: cursive;
    color: rgb(117, 115, 115);
}
.grid-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:12px;
    padding: 18px;
}
.testimony1,.testimony2,.testimony3,.testimony4,.testimony5,.testimony6{
    border:1px solid #FF8FAB;
    border-radius: 8px;
    background-color: #FFB3C6;
    padding: 8px;
}
h3{
    font-family: cursive;
}
.image-div{
    border: #FF8FAB;
    border-radius: 50%;
    overflow: hidden;
    height:100px;
    width:100px ;
    text-align: center;
}
.text-div{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    padding-top: 14px;
    margin-bottom:0;

} 
.p-div{
    min-height: 150px;
}
