body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      width: 100%;
    height: 100hv;
      background-color:#FFE5EC ;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    background-color:  #FB6F92;
    border: none;
    padding: 14px 24px 14px 24px;
    margin: 10px ;
    border-radius: 8px;
}
a{
    text-decoration: none;
    font-family: cursive;
    color: #ffffff;
}
.container h1{
     font-family: cursive;
     text-align: center;
}
form{
    background-color:#FFB3C6;
    min-height: 380px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    gap:18px;
}
.full-name{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 78%;
    gap:8px;
}
label{
    text-align: start;
    font-family: cursive;
}
.email{
    display: flex;
    width: 78%;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 8px;
}
.text-area{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap:8px;
    width:78%;  
}
input{
    width: 100%;
    padding:10px 4px 10px 4px ;
    border-radius: 8px;
    outline: none;
    border:1px solid #FB6F92;
}
textarea{
    width:100%;
    outline: none;
    border-radius: 8px;
    padding: 18px 6px 18px 6px;
    border: 1px solid #FB6F92;
}

button{
    font-family: cursive;
    color: #ffffff;
    cursor: pointer;
}
input:focus{
    border:1px solid greenyellow
}