body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100hv;
    background-color:#FFE5EC ;
    
}
button{
    background-color:  #FB6F92;
    border: none;
    padding: 14px 24px 14px 24px;
    margin: 10px ;
    border-radius: 8px;
}
.button-div{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    font-family: cursive;
    color: #ffffff;
}
.container h1{
    font-family: cursive;
    font-size: 24px;
    text-align: center;
}
p{
    font-family: cursive;
    color: rgb(117, 115, 115);
    text-align: center;
}
img{
    width: 100%;
    height: auto;
}
.grid-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:12px;
    padding: 18px;
}
.project1,.project2,.project3,.project4,.project5,.project6{
    border:1px solid #FF8FAB;
    border-radius: 8px;
    overflow: hidden;
}

.p-container{
    max-width: 100%;
}
h4{
    text-align: center;
    font-family: cursive;
}
ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
}
.grid-container button{
    color: #ffffff;
}
@media screen and (max-width:480px) {
.grid-container{
    grid-template-columns: 1fr;
}
}