html,body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
.hello-main{
    width: 100%;
}
header{
    top:0;
    position:sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 24px;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid #FFB3C6;
    font-family: cursive;
    z-index: 999;
}
header a{
    font-family: cursive;
    color:black;
    text-decoration: none;
}
ul{
    list-style: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
}
.hero{
    background-color:#FFE5EC ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    min-height: calc(100vh-44px);

}
.text h1{
    font-family: cursive;
    font-size: 45px;
}
.text h3{
    font-family: cursive;
  color: rgb(117, 115, 115);}
.text p{
    color: rgb(117, 115, 115);
    font-family: cursive;
    font-size: 18px;
}
span{
    background-color: rgb(255, 179, 198,0.6);
    padding: 4px;
    
}

img{
    height: 380px;
    width: 250px;
}
.image{
    background-color: rgb(255, 143, 171,0.5);
    height: 380px;
    object-fit: cover;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
button{
    border: none;
    background-color: #FB6F92;
    border-radius: 8px;
    padding: 10px;
    color:#ffffff;
    cursor: pointer;
}
.stats-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
}
.stats-container h3{
    font-family: cursive;
    color: gray;
}
.social-buttons{
    display: flex;
    gap: 12px;
    align-items: center;
}
.social-buttons img{
    width: 24px;
    height: 24px;
    color:#FB6F92
}
.social-handles h3{
color: gray;
font-family: cursive;
font-size: 16px;
}

.image-sec{
    display: flex;
    align-items: center;
}
.image-sec ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#FF8FAB;

}
.divider{
    height: 20px;
    width: 1px;
    border: 2px solid #FB6F92;
}




.about-container{
    width: 100%;
    min-height: 100vh;
    background-color:#FFE5EC ;
}
.about-container button{
    padding: 14px 24px 14px 24px;
    margin: 14px;
    font-family: cursive;
}
.button-div{
    display: flex;
    justify-content: space-between;
}
.about-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.profile-image{
    background-color:#FFC2D1 ;
    border: #FB6F92;
    border-radius: 8px;
    margin-bottom: 10px;
}
.skills-section{
    background-color:#FFB3C6 ;
    border: #FB6F92;
    padding: 4px;
}
.skills-section ul{
    flex-direction: row;
    list-style-type: disc;
    align-items: center;
    justify-content: space-around;
    font-family: cursive;

}
.skills-section h3{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFC2D1;
    font-size: 18px;
    font-family: cursive;
}
.about-divider{
    border: 1px solid #FFC2D1;
}
.about-container a{
    text-decoration: none;
    color:#ffffff
}
p{
    font-family: cursive;
    color:  rgb(117, 115, 115);
}
.about-text h1{
    font-size: 32px;
    font-family: cursive;
}
.about-text h4{
    font-family: cursive;
    color: #FB6F92;
}

a:hover{
    color:aquamarine
}
.hamburger-menu{
    display:none;
}
footer{
    margin-bottom: 0;
    background-color:#FFC2D1;
    display: flex;
    justify-content: space-around;
    align-items: start;
    font-family: cursive;

}
footer ul{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
footer a{
    text-decoration: none;
    color:  rgb(117, 115, 115);;
}
footer .legal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}
footer .socials {
    padding-top: 8px;
}

@media screen and (max-width:480px) {
    .about-text{
        margin: 16px;
    }
    .about-section{
        display: flex;
        flex-direction: column;
        gap:8px;
        margin-top: 8px;
        
    }
    .skills-section ul{
        list-style: none;
        gap:4px;
    }
    .hamburger-menu{
        display: block;
    }
    .hello-main header ul{
        display: none;
    }
    .text span{
        background-color: transparent;
        text-decoration: line-through;
        color:#FB6F92
    }
    .text{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: start;
    }
    .text-content{
        padding-left: 16px;
    }
footer{
    padding:6px;
}
.text .social-handles{
    padding: 16px 0 16px 0;
}
}